* {
  max-width: 100% !important;
  margin: 0;
  padding: 0;
}

html {
  background-color: aqua;
  /* font-family: Avenir --> Måste ladda ner*/
}

body {
  width: 100%;
  font-family: "Avenir";
}

img {
  vertical-align: middle;
  border-style: none;
}

.black_rounded_button {
  color: #FFFF;
  padding: 0.5em 1.5em;
  background-color: #222222;
  border: 1px solid #222222;
  border-radius: 1.5em;
  font-size: 0.5em;
  margin-top: 2rem;
}

/*nav*/
nav {
  color:white;
  width:auto;
  font-size: 1rem;
  background-color: #222222;
  padding: 0.5rem;
}

.logo {
  object-fit: contain;
}

nav .logo {
  max-height: 10%;
}

/*nav*/

/*first section*/
.first_section {
  height: 35rem;
  background-image: url("resources/LBS_Bakgrund.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
}

.text_box_first_section {
color: white;
font-size: 2rem;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.text_box_first_section ul li {
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: #222222;
  list-style: none;
}
/*first section*/
